.checkout-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkout-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
}

.basket-review {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery-info {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery-input {
    margin: 2px 0;
}

